.page-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .page-title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #78AB4F;
    padding: 1rem;
  }
  
  .dashboard-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #78AB4F;
  }
  
  .dashboard-card {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-heading {
    font-size: 1.6rem;
    font-weight: bold;
    color: #78AB4F;
    margin-bottom: 1rem;
  }
  
  .dashboard-text {
    font-size: 1.1rem;
    color: #7DB578; /* Updated color */
    line-height: 1.5; /* Added line height for better readability */
  }
  