* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos globales */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Utilidades reutilizables */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.text-center {
    text-align: center;
}

.mt-8 {
    margin-top: 2rem;
}

.navbar {
    background-color: #7f1d1d;
    color: white;
  }
  
  